@{
    ViewBag.Title = "Sample Page";
}

<h1 id="Sample">My Sample HTML</h1>
<div id="div1">
    <h1>This is heading 1</h1>
</div>

<input type="button" value="Randomize h1" id="button1" />
<input type="button" value="Revert" id="button2" />
<br/>

<div id="div2">
    <h2>This is heading 2</h2>
    <input type="button" value="Disappear" id="button4"/>
    <input type="button" value="Re-Appear" id="button5"/>
    <p id="p1">Div paragraph.</p>
    <p id="p2">This is another paragraph.</p>
</div>

<span id="span1">
    <p id="p3">Span paragraph.</p>
    <p id="p4">Yet another span paragraph.</p>
</span>
<div>
    <a id="href1" href="https://www.w3schools.com">This is a link in a div</a>
</div>


<input id="button3" type="button" value="Pop-up"/>

<div>
    <h3 id="Ajax1">Hidden1</h3>
    <input id="button6" value="Ajax 1 Get Text" type="button" />
</div>

<div>
    <h3 id="Ajax2">Hidden2</h3>
    <input id="button7" value="Ajax 2 Get Error" type="button" />
</div>

<div>
    <h3 id="Ajax3">Hidden3</h3>
    <input id="button8" value="Ajax 3 Post Json No Spinner" type="button" />
</div>

<div>
    <h3 id="Ajax4">Hidden4</h3>
    <input id="button9" value="Ajax 4 Post Json with spinner" type="button" />
</div>

<div>
    <h3 id="Ajax5">Hidden5</h3>
    <input id="button10" value="Ajax 5 Post Json Task Checking" type="button" />
</div>